[defaults]
inventory = inventory.aws_ec2.yml
gathering = explicit
stdout_callback = yaml
forks = 5
retry_files_enabled = False
interpreter_python = auto_silent

[privilege_escalation]
become = False

[connection]
pipelining = True